<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd" version="2.4">
  <display-name>Webtasks demo application</display-name>
   <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
    <param-value>en</param-value>
  </context-param>
  <context-param>
  	<param-name>locales</param-name>
  	<param-value>/WEB-INF/locales.properties</param-value>
  </context-param>
  <listener>
    <listener-class>i18nWebDemo.listener.ContextListener</listener-class>
  </listener>
  
  
  <context-param>
    <param-name>developer</param-name>
    <param-value>sveta</param-value>
  </context-param>
  <resource-ref>
    <res-ref-name>jdbc/appname</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>demo.webtasks.listeners.WebtasksContextListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>demo.webtasks.listeners.WebtasksSessionAttributesListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>demo.webtasks.listeners.WebtasksSessionListener
		</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>fileServlet</servlet-name>
    <servlet-class>demo.webtasks.actions.employee.FileServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>fileServlet</servlet-name>
    <url-pattern>/file/*</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>MaxResumePageServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.employee.MaxResumePageServletHandler</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MaxResumePageServletHandler</servlet-name>
    <url-pattern>/employee/maxResume.php</url-pattern>
</servlet-mapping>


  
  <servlet>
    <servlet-name>LoginServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.LoginServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletHandler</servlet-name>
    <url-pattern>/login.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.LogoutServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletHandler</servlet-name>
    <url-pattern>/logout.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.ErrorServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServletHandler</servlet-name>
    <url-pattern>/error.php</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorServletHandler</servlet-name>
    <url-pattern>/pageNotFound.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployerHomeServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.employer.EmployerHomeServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerHomeServletHandler</servlet-name>
    <url-pattern>/employer/home_employer.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserHomeServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.employee.UserHomeServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHomeServletHandler</servlet-name>
    <url-pattern>/employee/home.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServletHandler</display-name>
    <servlet-name>RegistrationServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.RegistrationServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServletHandler</servlet-name>
    <url-pattern>/registration.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificationServletHandler</display-name>
    <servlet-name>VerificationServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.VerificationServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationServletHandler</servlet-name>
    <url-pattern>/verification.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessVerificationServletHandler</display-name>
    <servlet-name>SuccessVerificationServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.SuccessVerificationServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessVerificationServletHandler</servlet-name>
    <url-pattern>/success.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name> UpdateUserServletHandler</display-name>
    <servlet-name>UpdateUserServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.admin.UpdateUserServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServletHandler</servlet-name>
    <url-pattern>/admin/update_user.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServletHandler</display-name>
    <servlet-name>DeleteUserServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.admin.DeleteUserServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServletHandler</servlet-name>
    <url-pattern>/admin/deleteuser.php</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>WebtasksCharsetFilter</filter-name>
    <filter-class>demo.webtasks.filters.WebtasksCharsetFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebtasksCharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TestDemoFilter</filter-name>
    <filter-class>demo.webtasks.filters.TestDemoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestDemoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/pageNotFound.php</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.php</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.php</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>deleteUserServletHandler</display-name>
    <servlet-name>deleteUserServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.admin.deleteUserServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServletHandler</servlet-name>
    <url-pattern>/deleteUserServletHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServletHandler</display-name>
    <servlet-name>UpdateUserServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.admin.UpdateUserServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServletHandler</servlet-name>
    <url-pattern>/UpdateUserServletHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificationServletHandler</display-name>
    <servlet-name>VerificationServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.VerificationServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationServletHandler</servlet-name>
    <url-pattern>/VerificationServletHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessVerificationServletHandler</display-name>
    <servlet-name>SuccessVerificationServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.SuccessVerificationServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessVerificationServletHandler</servlet-name>
    <url-pattern>/SuccessVerificationServletHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecruitServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.RecruitServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruitServletHandler</servlet-name>
    <url-pattern>/recruit.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreationResumeServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.employee.CreationResumeServletHandler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationResumeServletHandler</servlet-name>
    <url-pattern>/createResume.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowResumeServletHandler</display-name>
    <servlet-name>ShowResumeServletHandler</servlet-name>
    <servlet-class>demo.webtasks.actions.employee.ShowResumeServletHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowResumeServletHandler</servlet-name>
    <url-pattern>/ShowResumeServletHandler</url-pattern>
    <url-pattern>/employee/showResume.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileServlet</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>demo.webtasks.actions.employee.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/FileServlet</url-pattern>
  </servlet-mapping>
</web-app>